<div class="recipe-changed-banner" role="alert" [attr.aria-label]="ariaLabel()">
  <ion-icon class="recipe-changed-banner__icon" name="warning-outline" aria-hidden="true" />
  <div class="recipe-changed-banner__body">
    <p class="recipe-changed-banner__headline">
      Công thức đã thay đổi:
      <strong class="recipe-changed-banner__snapshot">{{ snapshotCalories() }} calo</strong>
      ·
      <em class="recipe-changed-banner__current">hiện tại {{ currentCalories() }} calo</em>
    </p>
    <p class="recipe-changed-banner__delta">
      Chênh lệch: {{ deltaSign() }}{{ absDelta() }} calo ({{ deltaSign()
      }}{{ absDiffPct().toFixed(1) }}%)
    </p>
    <a class="recipe-changed-banner__faq" href="#" (click)="onFaqClick($event)">
      <ion-icon name="information-circle-outline" aria-hidden="true" />
      <span>Tại sao?</span>
    </a>
  </div>
</div>
